.AmbassadorMainContainer{
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(
    to right bottom , #0D47A1 10%, black 90%

  );
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
    padding: 3rem 0;
    h1,h5,h3{
        margin: 2rem 0;
    }
    p{
        line-height: 35px;
    }
    a{
        width: 15rem;
        background-color: white;
        border-radius: 30px;
        min-height: 3rem;
        text-decoration: none;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: black;
    }

}