.InvestMainContainer{
    background-image: linear-gradient(
    to right bottom , #0D47A1 10%, black 90%
  );
  color: white;
  text-align: center;
  padding: 3rem 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  
    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
    mix-blend-mode: lighten;
  }
  .Calculator{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      width: 100%;
      input{
          border: 1px solid white;
          border-radius: 10px;
          outline: none;
          background: transparent;
          height: 2.5rem;
          padding: 0 1rem;
          color: white;
      }
      select{
        border: 1px solid white;
        border-radius: 10px;
        outline: none;
        background: transparent;
        height: 2.5rem;
        padding: 0 1rem;
        color: white;
        option{
            color: black;
        }
      }
      .boxx{
        border: 1px solid white;
        border-radius: 10px;
        outline: none;
        background: transparent;
        height: 2.5rem;
        padding: 0 1rem;
        color: white;
        display: flex;
        align-items: center;
      }

  }
}
@media screen and (max-width : 950px) {
  .Calculator{
    flex-direction: column;
  }
  
}